{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Islem Mbarki</h3>
                <p class="lead" style="font-weight: 350;">Hi , I am Islem Mbarki
                    I'm a first-year engineering student at ISAMM,
                    passionate about Computer Science, Machine Learning, and AI.
                    With a Bachelor's in Information Technology, I'm venturing into the world of web development and
                    exploring new horizons.
                    Eager to learn and contribute to the tech landscape,
                    I'm ready for the exciting journey of engineering! 💻🚀.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:islem.mbarkibac@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png"
                        height="40" width="40"></a> :
                islem.mbarkibac@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/islemmbarki/'><img
                        src="https://i.pinimg.com/originals/72/9f/77/729f7798561be2cb67f39e916a22eb6a.png" height="44"
                        width="44"></a> :
                Islemmbarki<br><br>
                <a target="_blank" href='https://github.com/islemmbarki'><img
                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="40" width="40"></a> :
                islemmbarki<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/islem-mbarki-7a8983226/'><img
                        src="https://image.similarpng.com/very-thumbnail/2020/07/Linkedin-logo-on-transparent-Background-PNG-.png"
                        height="40" width="40"></a> :
                Islem MBARKI<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mariem Chahbi</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Mariem Chahbi.
                    I'm on the path to engineering excellence at ISAMM, specializing in IT and multimedia.
                    My journey is fueled by a keen interest in cutting-edge technologies like Machine Learning,
                 and Artificial Intelligence. Beyond that, I find joy in  diving into the creative world of Flutter App Development.
                    Excited about the endless possibilities in the tech universe! 💡✨
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:mariemchahbi53@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png"
                        height="40" width="40"></a> :
                mariemchahbi53@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/maryemchahbi/'><img
                        src="https://i.pinimg.com/originals/72/9f/77/729f7798561be2cb67f39e916a22eb6a.png" height="44"
                        width="44"></a> :
                maryemchahbi<br><br>
                <a target="_blank"
                    href='https://github.com/mariem-chahbi?fbclid=IwAR0DcIqnM4OmsgkB2jMZaasENehi5YHJXmI8CSumT3byvRyEQWU1lRhBYIo'><img
                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="40" width="40"></a> :
                mariem-chahbi<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/mariem-chahbi-33a1a9204/'><img
                        src="https://image.similarpng.com/very-thumbnail/2020/07/Linkedin-logo-on-transparent-Background-PNG-.png"
                        height="40" width="40"></a> :
                Mariem Chahbi <br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}